@model FindHousingProject.Web.ViewModels.HousingViewModel
@{
    ViewData["Title"] = "Create";
}
<body>
    <div class="col-md-4" style="margin: auto;">
        <form method="post" asp-action="Create" asp-controller="Housing" enctype="multipart/form-data" class="table">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field">
                <b><label asp-for="Name"></label></b>
                <input asp-for="Name" autocomplete="off" placeholder="Housing name">
            </div>
            <br />
            <div class="field">
                <b><label asp-for="Place"></label></b>
                <input asp-for="Place" autocomplete="off" placeholder="Name of city or resort">
            </div>
            <br />
            <div class="field">
                <b><label asp-for="Price"></label></b>
                <input asp-for="Place" autocomplete="off" placeholder="Cost per day$">
            </div>
            <br />
            <div class="field">
                <b><label asp-for="Description"></label></b>
                <input asp-for="Description" autocomplete="off">
            </div>
            <br />
            <div class="field">
                <b><label asp-for="Address"></label></b>
                <input asp-for="Address" autocomplete="off">
            </div>
            <br />
            <div class="field">
                <label asp-for="Scenery"></label>
                <div style="text-align: center">
                    @if (Model?.Scenery != null)
                    {
                        <img style='max-width:70px;max-height:70px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Scenery))" alt="Housing">
                    }
                    else
                    {
                        <img style='max-width:70px;max-height:70px;' src="https://i.pinimg.com/originals/76/68/3c/76683c4fb69b9e720660359ad6ee4047.png" alt="Housing">
                    }
                    <input name="NewScenery" type="file" class="template-button" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</body>
@section Scripts {
    <script src="~/js/app.js" asp-append-version="true"></script>
}
