@model FindHousingProject.Web.ViewModels.HousingViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="box">
    <h1>
        Are you sure you want to delete this?
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index">Back to List</a>
        }
    </h1>
</div>
