@using FindHousingProject.Common.Resources
@model FindHousingProject.Web.ViewModels.UserViewModel

@{ ViewData["Title"] = string.Format(PageResource.Register, Model.Email); }

<div class="profile">
    <div class="avatar">
        @if (Model.Avatar != null)
        {
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))">
            <h1>Ура зашла1!</h1>
        }
        else
        {
            <img src="https://secure.gravatar.com/avatar/?s=64&d=https%3A%2F%2Fvidnova.dental%2Fwp-content%2Fthemes%2Fvidnova%2Fpublic%2Fimages%2Fdefault_avatar.jpg&r=g">
            <h1>Ура зашла2!</h1>
        }
        <form method="get" asp-controller="Account" asp-action="Settings">
            <button type="submit" class="template-button">Settings</button>
        </form>
        
    </div>
    <div class="info">

        <p class="name">@Model.Email</p>
        <p class="username">@('@')@Model.Email</p>
        <h1>Ура зашла3!</h1>

    </div>
</div>
<div class="break-line"></div>