@using FindHousingProject.Common.Resources
@model FindHousingProject.Web.ViewModels.UserViewModel

@{ ViewData["Title"] = string.Format(PageResource.Register, Model.Email); }

<div class="profile">
    <div class="info">
        <p class="name"><a>Id: </a>@Model.Id</p>
        <p class="username">@(' ')@Model.Email</p>
        <div>
            <b><label asp-for="FullName" class="template-label"></label></b>
            <a class="username">@(' ')@Model.PrettyFullName</a>
        </div>
        <div>
            <a class="username">@(' ')@Model.Role</a>
        </div>
    </div>
    <div class="avatar">
        @if (Model.Avatar != null)
        {
            <img style='max-width:160px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))">
        }
        else
        {
            <img style='max-width:160px;' src="https://politsib.ru/source/images/avatar.png">
        }
        <form method="get" asp-controller="Account" asp-action="Settings">
            <button type="submit" class="template-button">Settings</button>
        </form>
    </div>
</div>
<div class="break-line"></div>