@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400;1,700;1,900&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #c2e8b0;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}







body { /* + */
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2015/01/28/23/35/hills-615429_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box { /* + */
    overflow: hidden;
    position: absolute;
    top: 25%;
    left: 25%;
    border: 2px solid #000;
    width: 50%;
    padding: 80px 0;
    cursor: move;
    box-sizing: border-box;
}

    .box:before { /* + */
        content: "";
        background-image: url("https://cdn.pixabay.com/photo/2015/01/28/23/35/hills-615429_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
        z-index: 1;
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

h1 { /* + */
    position: relative;
    z-index: 2;
    text-align: center;
    color: #000;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight: 300;
    font-size: 30px;
}
.user {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #000;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 30px;
}
.table { /* + */
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 20px #1b6ec2;
    padding: 10px;
}
.setting { /* + */
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 20px #1b6ec2;
    padding: 10px;
    width: 50%;
    text-align:center;
}
.body-housing { /* + */
    height: 100%;
    background-image: url("https://img-fotki.yandex.ru/get/6208/139602611.d/0_743c8_8ff4fe80_orig.jp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #14763a;
}

.field { /* + */
    clear: both;
    text-align: right;
    line-height: 25px;
}

label { /* + */
    float: left;
    padding-right: 10px;
}

.main { /* + */
    float: left
}

.inp { /* + */
    display: flex;
}

* { /* + */
    box-sizing: border-box;
}

.transparent { /* + */
    position: relative;
    max-width: 550px;
    padding: 60px 50px;
    margin: 50px auto 0;
    background-size: cover;
    font-weight: 800;
}

    .transparent:before { /* + */
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right bottom, rgba(43, 44, 78, .5), rgba(12, 99, 28, .5));
    }

.form-inner { /* + */
    position: relative;
}

    .form-inner h3 { /* + */
        position: relative;
        margin-top: 0;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 26px;
        text-transform: uppercase;
    }

        .form-inner h3:after { /* + */
            content: "";
            position: absolute;
            left: 0;
            bottom: -6px;
            height: 2px;
            width: 60px;
            background: #bcc31e;
        }

    .form-inner label { /* + */
        display: block;
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, .6);
        text-transform: uppercase;
        font-size: 14px;
    }

    .form-inner input { /* + */
        display: block;
        width: 100%;
        padding: 0 15px;
        margin: 10px 0 15px;
        border-width: 0;
        line-height: 40px;
        border-radius: 20px;
        color: white;
        background: rgba(255, 255, 255, .2);
        font-family: 'Roboto', sans-serif;
    }

        .form-inner input[type="checkbox"] { /* + */
            position: absolute;
            opacity: 0;
        }

#custom-checkbox + label { /* + */
    position: relative;
    margin: 20px 0;
    text-transform: none;
    cursor: pointer;
}

    #custom-checkbox + label:before { /* + */
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: text-top;
        background: white;
    }

#custom-checkbox:checked + label:before { /* + */
    background: #1762EE;
}

#custom-checkbox:checked + label:after { /* + */
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 20px;
    top: 9px;
    background: white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.form-inner input[type="submit"] { /* + */
    background: #1762EE;
}













.search-box {
    background: #ffffff;
    border-radius: 6px;
    padding: 32px;
    width: 441px;
    box-shadow: 0 16px 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 14vw;
    margin-bottom: 26vh;
}
.search-boxDetails {
    background: #ffffff;
    border-radius: 4px;
    padding: 32px;
    width: 441px;
    box-shadow: 0 16px 40px;
    position: absolute;
    right: 10%;
    top: 20%;
    margin-left: 14vw;
}
.search-box-title
{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: normal;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    color: #484848;
    padding-top: 6px;
    padding-bottom: 22px;
    font-weight: bold;
}
.search-box-label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #484848;
    font-weight: 800;
    display: block;
}
.search-box-input {
    width: 100%;
    height: 48px;
    display: table;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    margin-top: 8px;
}
.box-input {
    padding: 17px;
    box-sizing: border-box;
    border-radius: 2px;
    display: inline;
    height: 48px;
    width: 100%;
}
.search-box-dates {
    padding-top: 20px;
    padding-bottom: 20px;
}
.search-box-label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #484848;
    font-weight: 800;
    display: block;
}
.DateRangePicker {
    margin-top: 6px;
    width: 100%;
}
.DateRangePicker {
    position: relative;
    display: inline-block;
}
.DateRangePickerInput {
    width: 100%;
}
.DateRangePickerInput__withBorder {
    border-radius: 2px;
    border: 1px solid #dbdbdb;
}
.DateRangePickerInput {
    background-color: #fff;
    display: inline-block;
}
.DateInput {
    width: 45%;
}
.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}
.DateInput_input {
    font-weight: 200;
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    background-color: #fff;
    width: 100%;
    padding: 11px 11px 9px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 0;
}
.DateInput_screenReaderMessage {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.DateRangePickerInput_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #484848;
}
.DateRangePickerInput_arrow_svg {
    vertical-align: middle;
    fill: #484848;
    height: 24px;
    width: 24px;
}
.search-box-label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #484848;
    font-weight: 800;
    display: block;
}
.listing-show-guest-dropdwn {
    width: 100%;
    height: 45px;
    padding: 8px;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    font-size: 17px;
    color: #484848;
    line-height: 24px;
}




.listing-calendar {
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    width: 377px;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    position: sticky;
    top: 80px;
}

.calendar-price-section {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 14px;
    padding-top: 30px;
}

.daily-rate {
    font-size: 22px;
    line-height: 26px;
    color: #484848;
    font-weight: 800;
    letter-spacing: normal;
    padding-right: 7px;
}

.per-night {
    font-size: 12px;
    font-weight: 600;
}

.fa-dollar-sign {
    padding-right: 0px;
    width: 13px;
}

.index-stars-container {
    display: flex;
}

.material-icons.small {
    font-size: 13px;
    height: 1em;
    width: 1em;
}