@model SimpleViewModel
<h1>@Model.Value</h1>
<!--<a href="account/register">click</a>
<a href="account/register">click</a>
<a asp-controller="Account" asp-action="Register">reg</a>
<div class="enter">
    <a class="signin" asp-controller="Account" asp-action="SignIn">Войти</a>
    <a class="signup" asp-controller="Account" asp-action="Register">Sign Up</a>
</div>-->
@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome!!!</h1>
}
else
{

    <div class="enter">
        <a class="signin" asp-controller="Account" asp-action="SignIn">Sign In</a>
        <a class="signup" asp-controller="Account" asp-action="Register">Sign Up</a>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>