@model SimpleViewModel
<h1>HOME PAGE @Model.Value</h1>
<!--<a href="account/register">click</a>-->
<a href="account/register">click</a>
<a asp-controller="Account" asp-action="Register">reg</a>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>