@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="box">
    <h1>
        The FindHousingProject platform is an online housing booking service that provides users (“Guests”) with the ability to post, offer, search, and book services.
        Users who post ads and offer services are referred to as "Owners".
    </h1>
</div>
