@using FindHousingProject.Common.Resources
@model FindHousingProject.Web.ViewModels.ChangePasswordViewModel

@{ ViewData["Title"] = string.Format(PageResource.StringFormat, PageResource.SiteName, PageResource.ChangePassword); }

<form method="post" asp-action="ChangePassword" asp-controller="Account" class="transparent" style="color:black; font-size: 14pt;">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-inner">
        <div class="field">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" autocomplete="off">
            <span asp-validation-for="OldPassword"></span>
        </div>
        <div class="field">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" autocomplete="off">
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="field">
            <label asp-for="NewPasswordConfirm"></label>
            <input asp-for="NewPasswordConfirm" autocomplete="off">
            <span asp-validation-for="NewPasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Save">
        </div>
        <div>
            <a asp-action="Settings">Back to List</a>
        </div>
    </div>
</form>