@using FindHousingProject.Common.Resources
@model FindHousingProject.Web.ViewModels.SettingsViewModel
@{ ViewData["Title"] = string.Format(PageResource.StringFormat, PageResource.SiteName, PageResource.Settings); }

<form method="post" asp-action="Settings" asp-controller="Account" class="transparent" style="color:black;">
    <div class="form-inner">
        <div class="user">
            <div asp-validation-summary="All"></div>
            <div>
                <input asp-for="FullName" autocomplete="off">
                <input type="hidden" asp-for="Email" autocomplete="off">
            </div>
            <select asp-for="Role" asp-items="Model.Roles"></select>
            <br />
            <div>
                @if (Model.Avatar != null)
                {
                    <img style='max-width:160px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))">
                }
                else
                {
                    <img style='max-width:160px;' src="https://politsib.ru/source/images/avatar.png">
                }
                <input name="NewAvatar" type="file" class="template-button" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>

<form method="get" asp-controller="Account" asp-action="ChangePassword" style="text-align:center">
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

@section Scripts {
    <script src="~/js/app.js" asp-append-version="true"></script>
}
