@model Housing
@using FindHousingProject.DAL.Entities
<tr>
    <td>
        @Html.DisplayFor(m=>m.Name)
    </td>
    <td>
        @Html.DisplayFor(m => m.Address)
    </td>
    <td>
        @Html.DisplayFor(m => m.PricePerDay)$
    </td>
    <td>
        @if (Model.Scenery != null)
        {
            <img class="scale" style='max-width:90px;max-height:90px' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Scenery))" alt="Housing">
        }
        else
        {
            <img style='max-width:70px;max-height:70px' src="https://i.pinimg.com/originals/76/68/3c/76683c4fb69b9e720660359ad6ee4047.png" alt="Housing">
        }
        <br /> @Html.ActionLink("Details", "Details", new { housingId = Model.Id })
    </td>
</tr>
